{{ .ProgramName }}

Version:      {{ .Version }}
Go version:   {{ .GoVersion }}
OS:           {{ .OS }}
Arch:         {{ .Arch }}
Git time:     {{ .VCSTime }}
Git dirty:    {{ .VCSDirty }}
Git revision: {{ .GitSha }}
